@tailwind base;
@tailwind components;
@tailwind utilities;

*{font-family: 'Poppins', sans-serif;}

.shadow-new{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}